<div class="resume-container">
    <header>
        <div class="profile-photo">
            <img src="/assets/imgs/1.jpg" alt="Фотография">
        </div>
        <div class="name-title">
            <h1>Гринькова Мария</h1>
            <p>Программист (разработчик)</p>
        </div>
    </header>

    <section class="experience">
        <h2>Опыт работы</h2>
        <div class="job">
            <h3>Инженер-программист АСУТП</h3>
            <p class="company">Компания "Технологии Будущего" - Февраль 2024 - Настоящее время</p>
            <p>Разработка и внедрение программных решений в соответствии с техническим заданием. Тестировании разработанных программ. Техническая поддержка и доработка существующих решений.</p>
        </div>
    </section>

    <section class="skills">
        <h2>Навыки и знания</h2>
        <ul>
            <li>HTML, CSS, JavaScript</li>
            <li>React, Angular</li>
            <li>Node.js, Express</li>
            <li>C, C++, C#</li>
            <li>Rust, Bush</li>
            <li>Git, GitHub</li>
            <li>SCADA-система "КАСКАД"</li>
            <li>SQL, MongoDB</li>
        </ul>
    </section>

    <section class="links">
        <h2>Ссылки на ресурсы</h2>
        <ul>
            <li><a href="https://github.com/userMary" target="_blank">GitHub</a></li>
        </ul>
    </section>
</div>
